@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "breakpoints" as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    @media screen and (min-width: nth($breakpoint, 1)) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map';
  }
}

@mixin mq-between($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpointList: map-get($breakpoints, $size);
    @if ($size != "large") {
      @media screen and (min-width: nth($breakpointList, 1)) and (max-width: nth($breakpointList, 2)) {
        @content;
      }
    } @else {
      @media screen and (min-width: nth($breakpointList, 1)) {
        @content;
      }
    } 
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map';
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin pseudo-underline($width, $height , $background-color, $margin) {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: $width;
    height: $height;
    background-color: $background-color;
    margin: $margin auto;
  }
}