$ff-abril: "Abril Fatface";
$ff-lato: "Lato";

$font-sizes: (
    "200": 0.75rem, // 12px
    "400": 1.125rem, // 18px
    "500": 1.3125rem, // 21px
    "600": 1.6875rem, // 27px
    "650": 2rem, // 32px
    "700": 3.75rem, // 60px
    "800": 5rem // 80px
);

$fw-400: 400;
$fw-700: 700;