@use "../abstracts/" as *;

body {
    font-family: $ff-lato;
    font-weight: $fw-400;
    font-size: fs("400");
}

li {
    list-style: none;
}

h1,
h2,
h3,
li {
    font-family: $ff-abril;
}

.page-title {
    font-size: fs("600");
    font-weight: $fw-700;
    text-align: center;
    @include mq("large") {
        font-size: fs("800");
    }
}

.heading {
    color: clr(primary, "500");
    font-size: fs("600");
    font-family: $ff-abril;

    @include mq("large") {
        font-size: fs("700");
    }
}

.sub-heading {
    font-size: fs("500");
    color: clr(neutral, "400");
    font-weight: $fw-400;
    font-family: "Lato";
    text-transform: uppercase;
    @include mq("large") {
        font-size: fs("600");
    }
}